# gitignore for Wwise

ValleyProduction_WwiseProject/.cache
ValleyProduction_WwiseProject/*.prof
ValleyProduction_WwiseProject/ValleyProduction_WwiseProject.c.pavie.validationcache
ValleyProduction_WwiseProject/ValleyProduction_WwiseProject.*.wsettings
ValleyProduction_WwiseProject/**/*.akd

*.validationcache
